nav {
	position: fixed;
	height: 0;
	width: 100%;
	overflow: hidden;
	opacity: 0;

	@media screen and (max-width: 468px) {
		display: none;		
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0;

		li {
			color: black;
			font-size: 1.4em;
			font-family: $title-font;
			padding: 0 25px;
			list-style: none;

			a {
				color: $font-color;
			}

			a:active, a:visited {
				color: $font-color;
			}
		}

		.rina-nav-title {
			font-weight: bold;
			color: $font-color;
		}
	}
}